data/
results*
.snakemake/
logs/
report.html
backup/
.ipynb_checkpoints/
geckodriver.log
samples_*
test_scripts/
test_altair.ipynb
masterthesis_results
tb-profiler
.gitignore
genomes/
campylobacter
enterococcus_faecalis
enterococcus_faecium
escherichia_coli
helicobacter_pylori
klebsiella
neisseria_gonorrhoeae
plasmodium_falciparum
salmonella
staphylococcus_aureus
rmresult.sh
lint.sh